<!DOCTYPE html>  
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promociones</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Encabezado con el logo y el menú -->
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Logo Pizza Feliz" class="logo-image" width="150">
            </div>
            <form action="{{ url_for('search') }}" method="GET" class="search-form">
                <input type="text" name="query" placeholder="Buscar promociones..." class="search-input">
                <input type="image" src="{{ url_for('static', filename='images/buscador.png') }}" alt="Buscar" class="search-button">
            </form>
            <nav>
                <a href="{{ url_for('index') }}">MENÚ</a>
                <a href="{{ url_for('rastreo') }}">PEDIDO</a>
                <a href="">UBICACIÓN</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="secondary-headers">
            <div class="secondary-filtros">
                <form action="{{ url_for('vertodo') }}" method="GET">
                    <button type="submit" class="filtro">PROMOCIONES</button>
                </form>
                <form action="{{ url_for('todo') }}" method="GET">
                    <button type="submit" class="filtro activo">PIZZAS</button>
                </form>
                <form action="{{ url_for('todos') }}" method="GET">
                    <button type="submit" class="filtro activo">COMBOS</button>
                </form>
            </div>
        </section>

        <!-- Contenido principal de promociones -->
        <section class="promotions-header">
            <h1>PROMOCIONES</h1>
            <div class="promotions-filters">
                <button id="verTodoButton" class="filter">VER TODO</button>
                <button id="unapersonaButton" class="filter">1 PERSONA</button>
                <button id="dospersonasButton" class="filter">2 PERSONAS</button>
                <button id="cuatropersonasButton" class="filter">3-4 PERSONAS</button>
                <button id="cincoamasButton" class="filter">5 A MÁS</button>
            </div>
        </section>
        
        <section class="promotions" id="promotionsContainer">
            
        </section>
    </main>
    <footer class="footer bg-dark text-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Conócenos</h5>
                    <ul class="list-unstyled">
                        <a href="#" class="text-white">Acerca de Pizza Feliz</a></li>
                        <a href="#" class="text-white">Nuestra Misión</a>
                        <a href="#" class="text-white">Nuestra Visión</a>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5>Nuestros Productos</h5>
                    <ul class="list-unstyled">
                        <a href="#" class="text-white">Promociones</a>
                        <a href="#" class="text-white">Pizzas</a>
                        <a href="#" class="text-white">Combos</a>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5>Ayuda</h5>
                    <ul class="list-unstyled">
                        <a href="#" class="text-white">Políticas de Datos Personales</a>
                        <a href="#" class="text-white">Términos y Condiciones de Promociones</a>
                        <a href="#" class="text-white">Contáctanos</a>
                    </ul>
                </div>
            </div>
            <div class="text-center mt-3">
                <p class="mb-0">&copy; 2024 PIZZA FELIZ. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
    <script>
        window.onload = function() {
            // Simular clic en el botón "Ver todo" al cargar la página
            document.getElementById("verTodoButton").click();
        }
    </script>
    <script src="{{ url_for('static', filename='js/products.js') }}"></script>
</body>
</html>
