body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: center;
}

nav a {
    color: rgb(19, 18, 18);
    text-decoration: none;
    margin: 0 1rem;
}

.promotions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.promotion {
    background: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    width: 300px;
}

.promotion img {
    max-width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #1c1b1b;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem 0;
}
a.text-white {
    color: #ffffff; /* Blanco */
    text-decoration: none; /* Sin subrayado */
}

a.text-white:hover {
    color: #ffffff; /* Un tono más claro al pasar el mouse */
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #faf7f7;
    color: #0c0c0c;
}

nav a {
    color: #0e0e0e;
    text-decoration: none;
    margin: 0 10px;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 14px;
}
.search-input {
    margin-right: 10px;
}


.search-button {
    width: 20px; /* Ancho del botón */
    height: 20px; /* Alto del botón */
}


