<!DOCTYPE html>  
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rastreo de Ubicación del Repartidor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Encabezado con el logo y el menú -->
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Logo Pizza Feliz" class="logo-image" width="150">
            </div>
            <form action="{{ url_for('search') }}" method="GET" class="search-form">
                <input type="text" name="query" placeholder="Buscar promociones..." class="search-input">
                <input type="image" src="{{ url_for('static', filename='images/buscador.png') }}" alt="Buscar" class="search-button">
            </form>
            <nav>
                <a href="{{ url_for('index') }}">MENÚ</a>
                <a href="{{ url_for('rastreo') }}">PEDIDO</a>
                <a href="">UBICACIÓN</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="secondary-headers">
            <div class="secondary-filtros">
                <form action="{{ url_for('promociones') }}" method="GET">
                    <button type="submit" class="filtro">PROMOCIONES</button>
                </form>
                <form action="{{ url_for('vertodo') }}" method="GET">
                    <button type="submit" class="filtro activo">PIZZAS</button>
                </form>
                <form action="{{ url_for('todos') }}" method="GET">
                    <button type="submit" class="filtro activo">COMBOS</button>
                </form>
            </div>
        </section>
        <!-- Contenido principal del index -->
        <section class="promotions-header">
            <h1>PIZZAS</h1>
            <div class="promotions-filters">
                <form action="{{ url_for('vertodo') }}" method="GET">
                    <button type="submit" class="filter active">VER TODO</button>
                </form>
                <form action="{{ url_for('clasicas') }}" method="GET">
                    <button type="submit" class="filter active">CLÁSICAS</button>
                </form>
                <button class="filter">ESPECIALIDADES</button>
            </div>
        </section>
            <section class="promotions">
                <div class="promotion">
                    <img src="{{ url_for('static', filename='images/especialidad1.webp') }}" alt="Pizza 1">
                    <h2>Española</h2>
                    <p>Queso mozarella, Salsa de mantequilla y ajo, Chorizo, Cebolla, y Aceitunas</p>
                    <p class="price">S/ 23.90</p> <!-- Precio añadido -->
                    <button>COMPRAR</button>
                </div>
                <div class="promotion">
                    <img src="{{ url_for('static', filename='images/especialidad2.webp') }}" alt="Pizza 2">
                    <h2>Súper Margarita 6 Quesos</h2>
                    <p>6 Quesos, Salsa de Tomate, Orégano y Tomate</p>
                    <p class="price">S/ 23.90</p> <!-- Precio añadido -->
                    <button>COMPRAR</button>
                </div>
                <div class="promotion">
                    <img src="{{ url_for('static', filename='images/especialidad3.webp') }}" alt="Pizza 3">
                    <h2>Continentalle</h2>
                    <p>Queso Mozzarella, Jamón, Salsa de Tomate, Champiñones y Cebolla</p>
                    <p class="price">S/ 23.90</p> <!-- Precio añadido -->
                    <button>COMPRAR</button>
                </div>
                <div class="promotion">
                    <img src="{{ url_for('static', filename='images/especialidad4.webp') }}" alt="Pizza 2">
                    <h2>Hawaiana</h2>
                    <p>Queso mozzarella, salsa de tomate especial, Jamón y Piña</p>
                    <p class="price">S/ 23.90</p> <!-- Precio añadido -->
                    <button>COMPRAR</button>
                </div>
            </section>
    </main>
    <footer class="footer bg-dark text-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Conócenos</h5>
                    <ul class="list-unstyled">
                        <a href="#" class="text-white">Acerca de Pizza Feliz</a></li>
                        <a href="#" class="text-white">Nuestra Misión</a>
                        <a href="#" class="text-white">Nuestra Visión</a>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5>Nuestros Productos</h5>
                    <ul class="list-unstyled">
                        <a href="#" class="text-white">Promociones</a>
                        <a href="#" class="text-white">Pizzas</a>
                        <a href="#" class="text-white">Combos</a>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5>Ayuda</h5>
                    <ul class="list-unstyled">
                        <a href="#" class="text-white">Políticas de Datos Personales</a>
                        <a href="#" class="text-white">Términos y Condiciones de Promociones</a>
                        <a href="#" class="text-white">Contáctanos</a>
                    </ul>
                </div>
            </div>
            <div class="text-center mt-3">
                <p class="mb-0">&copy; 2024 PIZZA FELIZ. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>    
</body>
</html>