{% extends 'layout.html' %}

{% block title %}Pizzas - Pizza Delivery{% endblock %}

{% block content %}

{% include 'navbar.html' %}

        <!-- Contenido principal de los combos -->
        <section class="promotions-header">
            <h1>COMBOS</h1>
            <div class="promotions-filters">
                <button class="filter" data-category="ver_todo">VER TODO</button>
                
                {% if combos|length > 0 %}
                    <form action="{{ url_for('views.combos') }}" method="GET">
                        <button type="submit" class="filter">2 PERSONAS</button>
                    </form>
                    <form action="{{ url_for('views.combos') }}" method="GET">
                        <button type="submit" class="filter">3-4 PERSONAS</button>
                    </form>
                {% endif %}
            </div>
        </section>

        <section class="promotions">
            {% for combo in combos %}
                {% if 'combo' in combo.title.lower() %}
                    <div class="promotion">
                        <img src="{{ url_for('static', filename=combo.image) }}" alt="Combo {{ combo.title }}">
                        <h2>{{ combo.title }}</h2>
                        <p>{{ combo.description }}</p>
                        <p class="price">S/ {{ combo.price }}</p> <!-- Precio añadido -->
                        <button>COMPRAR</button>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
        {% include 'footer.html' %}
        {% endblock %}