{% extends "layout.html" %}

{% block title %}Promociones - Pizza Delivery{% endblock %}

{% block content %}

    <!-- Incluir el navbar específico para promociones -->
    {% include 'navbar.html' %}
    <section class="promotions">
    {% for category, promotions in promotions_data.items() %}
        <div class="promotion-category">
            <div class="promotion-items">
                {% for promotion in promotions %}
                    <div class="promotion">
                        <img src="{{ url_for('static', filename=promotion.image) }}" alt="{{ promotion.title }}">
                        <h3>{{ promotion.title }}</h3>
                        <p>{{ promotion.description }}</p>
                        <p class="price">{{ promotion.price }}</p> <!-- Precio añadido -->
                        <button>COMPRAR</button>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}
