<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pizza Delivery{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Encabezado con el logo y el menú -->
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Logo Pizza Feliz" class="logo-image" width="150">
            </div>
            <form action="{{ url_for('views.search') }}" method="GET" class="views.search-form">
                <input type="text" name="query" placeholder="Buscar promociones..." class="search-input">
                <input type="image" src="{{ url_for('static', filename='images/buscador.png') }}" alt="Buscar" class="search-button">
            </form>
            <nav>
                <a href="{{ url_for('views.index') }}">MENÚ</a>
                <a href="{{ url_for('views.rastreo') }}">PEDIDO</a>
                <a href="">UBICACIÓN</a>
            </nav>
        </div>
    </header>
    <!-- Incluir el navbar justo después del header -->
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
