{% extends 'layout.html' %}

{% block title %}Rastreo - Pizza Delivery{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<!-- Contenido principal de rastreo -->
<section class="rastreo-header">
    <h1>Rastreo de Pedido</h1>
    <p>Ubicación en tiempo real de tu repartidor</p>
</section>

<!-- Mapa embebido -->
<section class="mapa">
    <div class="map-container">
        <!-- Aquí incrustamos el mapa de Google Maps -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7801.51133721026!2d-76.98169011959025!3d-12.128862851523863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b8744cfaa167%3A0x29cfaf71d2143ff4!2sDON%20DINO%20Pizza%20%26%20Pasta!5e0!3m2!1sen!2spe!4v1733247725277!5m2!1sen!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

{% include 'footer.html' %}
{% endblock %}
