{% extends 'layout.html' %}

{% block title %}Promociones - Pizza Delivery{% endblock %}

{% block content %}

{% include 'navbar.html' %}


    <section id="results-container">
        {% if resultados %}
            {% for item in resultados %}
                <div class="promotion">
                    <img src="{{ url_for('static', filename=item['image']) }}" alt="{{ item['title'] }}" class="promotion-image">
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.description }}</p>
                    <p class="price">{{ item.price }}</p>
                    <button>COMPRAR</button>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info">
                <i class="icon">ℹ️</i> No encontramos productos que coincidan con tu búsqueda.
            </div>
        {% endif %}
    </section>

    {% include 'footer.html' %}
{% endblock %}